.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5vh;
  margin: auto;
  padding: 1%;
}

.skills {
  min-height: 70vh;
}

.skills-card {
  width: 20%;

  :is(ul) {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .description {
    opacity: 0.6;
    padding-block: 1%;
  }

  .description::before {
    content: "-";
    padding-inline-end: 1%;
  }

  .name {
    font-size: 1.5rem;
  }
}

canvas {
  width: 35vw !important;
}

@media screen and (max-width: 940px) {
  .skills-card {
    width: 100%;

    .name {
      text-align: center;
    }
  }
}
